In [1]:
import warnings
warnings.filterwarnings("ignore")

In [2]:
import pandas as pd
judges = pd.read_csv("/Users/hinaljajal/Downloads/State-Sentencing-Project/WebScraping/all_judges.csv")

In [3]:
judges = judges.dropna()

In [4]:
titles = []
for x in judges["Judge"]:
    titles.append(x[0:3])

In [5]:
len(titles)

10031

In [6]:
judges["Title"] = titles

In [7]:
judges

                               Judge Title
1                 Hon G. Steven Agee   Hon
2                Hon Leslie M. Alden   Hon
3          Hon John Richard Alderman   Hon
4        Hon William N. Alexander II   Hon
5          Hon Michael Coghlan Allen   Hon
...                              ...   ...
10085        Ms. Monica Lynne Martin   Ms.
10086               Ms. Jill M. Long   Ms.
10087       Ms. Mary Johanna Hanzlik   Ms.
10088     Mr. Jonathan Wayne Robbins   Mr.
10089  Mr. Joseph Edward McGuire Jr.   Mr.

[10031 rows x 2 columns]

In [8]:
judges = judges[judges["Title"]=="Hon"]

In [9]:
# judges['Judge'] =judges['Judge'].str.replace(['I','II','III','IV','V','Jr.','Hon'],'')
judges['Judge'] =judges['Judge'].str.replace('I','')
judges['Judge'] =judges['Judge'].str.replace('II','')
judges['Judge'] =judges['Judge'].str.replace('III','')
judges['Judge'] =judges['Judge'].str.replace('IV','')
judges['Judge'] =judges['Judge'].str.replace('V','')
judges['Judge'] =judges['Judge'].str.replace('Jr.','')
judges['Judge'] =judges['Judge'].str.replace('Hon','')
judges['Judge'] =judges['Judge'].str.replace('.','')
judges['Judge'] =judges['Judge'].str.replace("'",' ')
judges['Judge'] =judges['Judge'].str.replace("-",' ')

In [11]:
s = "G Steven Agee"

In [12]:
''.join(i[0] for i in s.split())

'GSA'

In [13]:
judges["Initials"]=[''.join(i[0] for i in x.split()) for x in judges['Judge'] ]

In [14]:
judges

                       Judge Title Initials
1              G Steven Agee   Hon      GSA
2             Leslie M Alden   Hon      LMA
3      John Richard Alderman   Hon      JRA
4       William N Alexander    Hon      WNA
5      Michael Coghlan Allen   Hon      MCA
...                      ...   ...      ...
9845            Mona A Foley   Hon      MAF
9846       William D Gardner   Hon      WDG
9847         J Jack Kennedy    Hon      JJK
9848       Jeremiah E Musser   Hon      JEM
9849        Kristen N Nelson   Hon      KNN

[6975 rows x 3 columns]

In [16]:
judges.to_csv(r'/Users/hinaljajal/Downloads/judge_initials.csv', index = False)